<h1><%= @artist.name %></h1>

<% if @artist.ratings.count == 0 %>
<h2>Be the first to rate this artist's songs!</h2>
<% else %>
<h2><%= @artist.average_rating %> star average, based on <%= @artist.ratings.count %> reviews!</h2>
<% end %>

<h2>Songs:</h2>
<ul>
<% @artist.songs.each do |song| %>
    <li><%= link_to song.title, song_path(song) %> (<%= link_to song.genre.name, genre_path(song.genre) %>)</li><br>
<% end %>
</ul>

<h2>Genres:</h2>
<ul>
<% @artist.sort_genres.each do |genre| %>
    <li><%=link_to genre.name, genre_path(genre) %> (<%= @artist.songs_per_genre(genre) %> songs)</li><br>
<% end %>
</ul>

