<div class="create">
<h1>Create Song</h1>

<%= form_for(@song) do |f| %>

<%= f.label :title %><br>
<%= f.text_field :title %><br><br>

<%= f.label "Choose Existing Artist" %><br>
<%= f.collection_select :artist_id, Artist.all, :id, :name, :prompt => "Select" %><br>
<%= f.label "Or Type in an Artist's Name" %><br>
<%= f.fields_for :artist do |artist| %>
    <%= artist.text_field :name %>
  <% end %>
<br><br>

<%= f.label "Choose Existing Genre" %><br>
<%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "Select" %><br>
<%= f.label "Or type in a Genre name" %><br>
<%= f.fields_for :genre do |genre| %>
    <%= genre.text_field :name %>
<% end %><br><br>

<%= f.label :release_date %><br>
<%= f.date_field :release_date %><br><br>

<%= f.label :link %><br>
<%= f.text_field :link %><br><br>

<%= f.submit "Create Song" %>

<% end %>
</div>