<h1><%= @song.title %></h1>

<% if @song.ratings.count == 0 %>
<h2>Be the first to give a rating!</h2>
<% else %>
<h2><%= @song.average_rating %> stars, based on <%= @song.ratings.count %> reviews!</h2>
<% end %>

<p>Artist: <%= link_to @song.artist.name, artist_path(@song.artist) %></p>
<p>Genre: <%= link_to @song.genre.name, genre_path(@song.genre) %></p>
<p>Release Date: <%= @song.release_date %></p><br>

<iframe width="560" height="315" src="<%= @song.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<%= button_to "Edit Song", edit_song_path(@song), method: "get" %>